@page "/"
@using Model.Configurations
@using Model.Entities
@code{

    public List<string> GetHangmanDisplay()
    {
        List<string> hangmans = new List<string>()
        {
            "0.png","1.png","2.png","3.png","4.png","5.png","6.png"
        };
        List<string> hangmanStages = new List<string>()
        {
            @"
  +---+
  |   |
      |
      |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
      |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
  |   |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|   |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
 /    |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
 / \  |
      |
========="
        };
        return hangmans;
    }

}

<div>
    @foreach (var hangman in GetHangmanDisplay())
    {
        <img src="hangmans/@hangman" alt="hm"/>
    }
</div>





