@page "/"
@using Model.Configurations
@using Model.Entities
@code{

    public List<string> GetHangmanDisplay()
    {
        
        List<string> hangmanStages = new List<string>()
        {
            @"
  +---+
  |   |
      |
      |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
      |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
  |   |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|   |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
      |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
 /    |
      |
=========",
            @"
  +---+
  |   |
  O   |
 /|\  |
 / \  |
      |
========="
        };
        return hangmanStages;
    }

}

<div>
    @foreach (var hangman in GetHangmanDisplay())
    {
        <textarea>@hangman</textarea>
    }
</div>





