@page "/"
@rendermode InteractiveServer
<div id="main-container">
    <div id="content">
        <h3>Login</h3>
        <p>Melden sie sich an, um Hangman spielen zu können</p>
        <button class="button" onclick="">Anmelden</button>
    </div>
</div>
@code {
    
}