*{
    color:white;
}
#content{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 35vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    color: white;
    background-color: #4c5a70;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#main-container{
    background-color:#7b8fa1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}